.featured__title {
  display: block;
  text-align: center;
  margin-bottom: 50px;
}
.featured__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.featured__side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.featured__side:first-child {
  background: url("../assets/img/blog/blog_bg-1.jpg") no-repeat center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 64px 40px;
  margin-right: 30px;
}
.featured__trending {
  position: absolute;
  left: 0;
  top: 0;
  padding: 14px 30px;
  background: rgba(255, 196, 146, 0.47);
  -webkit-backdrop-filter: blur(9.5px);
          backdrop-filter: blur(9.5px);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.featured__trending__title {
  max-width: 450px;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 60px;
}
.featured__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.featured__author__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.featured__author__img {
  display: block;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.featured__author__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.featured__author__name {
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.87;
}
.featured__author__date {
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.6;
}
.featured__more {
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.87;
}
.featured__more:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}
.featured__blogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.featured__link {
  margin-bottom: 30px;
}
.featured__blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.featured__blog:last-child {
  margin-bottom: 0;
}
.featured__blog__img {
  max-width: 132px;
  max-height: 144px;
  margin-right: 30px;
}
.featured__blog__title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.87;
  margin-bottom: 16px;
}

.articles__title {
  text-align: center;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 50px;
}
.articles__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.articles__img {
  max-width: 226px;
  max-height: 266px;
  display: block;
  margin-right: 40px;
}
.articles__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  max-width: 576px;
}
.articles__item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.articles__item__title {
  margin: 25px 0;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 997px) {
  .featured__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .featured__side:first-child {
    min-height: 500px;
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .featured__side:first-child {
    padding: 40px 40px;
    margin-right: 0;
  }
  .featured__trending__title {
    font-size: 38px;
    line-height: 48px;
  }
  .featured__author__name {
    font-size: 14px;
    line-height: 24px;
  }
  .featured__author__date {
    font-size: 12px;
    line-height: 22px;
  }
  .featured__more {
    font-size: 14px;
  }
  .articles__img {
    max-width: 200px;
    max-height: 236px;
    margin-right: 20px;
  }
}/*# sourceMappingURL=blogs.css.map */