.header {
  padding: 25px 0;
  margin-bottom: 100px;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}
.header__logo__text {
  font-size: 18px;
  color: #FFB577;
  font-weight: 500;
}
.header__burger {
  display: none;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25%;
}
.header__nav__link {
  font-size: 16px;
  font-weight: 500;
  margin-right: 40px;
  color: #fff;
}
.header__clone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__clone__link {
  color: #FFB577;
}

@media (max-width: 1320px) {
  .header__nav {
    margin-right: 4%;
  }
}
@media (max-width: 997px) {
  .header {
    margin-bottom: 50px;
  }
  .header__wrapper {
    position: relative;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    outline: none;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .header__burger::before, .header__burger::after, .header__burger span {
    position: absolute;
    width: 100%;
    background-color: #fff;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    content: "";
    top: 0;
  }
  .header__burger::after {
    content: "";
    bottom: 0;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger span {
    top: 9px;
  }
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
    position: absolute;
    width: 0;
    right: -20px;
    top: 40px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: none;
  }
  .header__nav.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
  }
  .header__nav__link {
    background-color: grey;
    padding: 15px;
    width: 100%;
    display: block;
    text-align: center;
  }
  .header__clone {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 30%;
  }
}/*# sourceMappingURL=header.css.map */